* {
    box-sizing: border-box;
}

body {
    background: url(background.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    font: 20px "Source Sans Pro", sans-serif;
    height: 100vh;
    width: 100%;
}

h2 {
    font-size: 68px;
    font-weight: 900;
    margin: 15px 0;
}

p {
    margin: 15px 0;
}

form {
    border-radius: 25px;
    display: inline-block;
    margin: 30px 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .6);
}

form input,
form button {
    font-size: 16px;
    height: 51px;
    padding: 20px 35px;
    vertical-align: middle;
}

form input {
    border: 1px solid white;
    color: #3c3c3c;

    -webkit-border-top-left-radius: 25px;
    -webkit-border-bottom-left-radius: 25px;
       -moz-border-radius-topleft: 25px;
       -moz-border-radius-bottomleft: 25px;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
}

form input::-webkit-input-placeholder {
    color: #3c3c3c;
}

form button {
    background: #66A524;
    border: none;
    color: white;
    padding-top: 18px;

    -webkit-border-top-right-radius: 25px;
    -webkit-border-bottom-right-radius: 25px;
       -moz-border-radius-topright: 25px;
       -moz-border-radius-bottomright: 25px;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
}

.container {
    max-width: 800px;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;

    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}