section {
	background:gray;
}

.banner {
	height: 500px;
	width: 100%;
}

.lst-section {
	padding: 50px 25px;
	text-align: center;
}

.title {
	font-size: 26px;
}

.subtitle-box {
	font-size: 20px;
}
